{include file="public/header"/}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> {$navmenutitle} <span class="c-gray en">&gt;</span> {$navmenutitlenav} <a class="btn btn-success radius r refresh" id="btn-refresh" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="add('添加菜单','add.html','','520')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加菜单</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="50">ID</th>
				<th width="240">菜单名称</th>
				<th width="">控制器方法</th>
				<th width="60">图标</th>
				<th width="60">排序</th>
				<th width="70">状态</th>
				<th width="150">操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name="arlist" id="arlist" key="k"}
				<tr class="text-c">					
					<td><input type="checkbox" name="did" value="{$arlist.id}"></td>
					<td>{$arlist.id}</td>
					<td class="text-l">{neq name="arlist.level" value="1"}|{php}for($i=1;$i<$arlist['level'];$i++){echo ' ----';}{/php}{/neq} {$arlist.title}</td>
					<td class="text-l">{$arlist.name}</td>	
					<td><i class="Hui-iconfont">{$arlist.icon}</i></td>
					<td>{$arlist.sort}</td>
					<td class="td-status">
						{eq name="arlist.status" value="1"}
							<span class="label label-success radius">显示</span>
						{else/}
							<span class="label label-defaunt radius">隐藏</span>
						{/eq}
					</td>
					<td class="td-manage">
						<a title="添加菜单" style="margin-right:8px;" onClick="addMenu('添加菜单','add.html?id={$arlist.id}','','510')" href="javascript:;" class="label label-primary radius">添加菜单</a> 
						{eq name="arlist.status" value="1"}
							<a class="text-de-none" onClick="stop(this,{$arlist.id})" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
						{else/}
							<a class="text-de-none" onClick="start(this,{$arlist.id})" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>
						{/eq}
						<a title="编辑" href="javascript:;" onclick="edit('编辑','edit.html?id={$arlist.id}','','510')" class="ml-5"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a title="删除" href="javascript:;" onclick="del(this,{$arlist.id})" class="ml-5"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
			{/volist}
		</tbody>
	</table>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin_static/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin_static/js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,2,3,4,5,7]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			//$(this).$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});

/*添加菜单*/
function addMenu(title,url,w,h){
	layer_show(title,url,w,h);
}

/*添加*/
function add(title,url,w,h){
	layer_show(title,url,w,h);
}

/*停用*/
function stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		var submitData = {
			id : id,
			status:1,
	    }
	    $.post("{:url('Menu/status')}", submitData, function(data) {
	    	if(data['code'] == 0){
	    		layer.msg('没有权限!',{icon: 5,time:1000});
	    		return;
	    	}
			if (data['code']== 400) {
				alert("失败");
			}else{				
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="start(this,'+id+')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">隐藏</span>');
				$(obj).remove();
				layer.msg('隐藏!',{icon: 5,time:1000});				
			}
		}, "json");	
	});	
}

/*启用*/
function start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		var submitData = {
			id : id,
			status:0,
	    }
	    $.post("{:url('Menu/status')}", submitData, function(data) {
	    	if(data['code'] == 0){
	    		layer.msg('没有权限!',{icon: 5,time:1000});
	    		return;
	    	}
			if (data['code']== 400) {
				alert("失败");
			}else{
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="stop(this,'+id+')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">显示</span>');
				$(obj).remove();
				layer.msg('显示!',{icon: 6,time:1000});				
			}
		}, "json");	
	});
}
/*编辑*/
function edit(title,url,w,h){
	layer_show(title,url,w,h);
}

function del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		var submitData = {
			did : id,
	    }
	    $.post("{:url('Menu/delete')}", submitData, function(data) {
	    	if(data['code'] == 0){
	    		layer.msg('没有权限!',{icon: 5,time:1000});
	    		return;
	    	}
			if (data['code']== 400) {
				alert("失败");
			}else{				
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});				
			}
		}, "json");
	});
}

//选择删除
function datadel(){
	var did = document.getElementsByName('did');
	var value = new Array();
	for(var i = 0; i < did.length; i++){
		if(did[i].checked){
			value.push(did[i].value);
		}
	}

	var submitData = {
		did : value,
    }
    $.post("{:url('Menu/delete')}", submitData, function(data) {
    	if(data['code'] == 0){
    		layer.msg('没有权限!',{icon: 5,time:1000});
    		return;
    	}
		if (data['code']== 400) {
			alert("请选择删除项");
		}else{
			window.location.reload();
			layer.msg('已删除!',{icon:1,time:1000});
		}
	}, "json");
}
</script> 
</body>
</html>